<a href="https://colab.research.google.com/github/kooosee/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## pandasの表を使って'IdentityⅤ'(ゲーム)のデータを作りグラフ化する

In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame([ ['ZETA_vanpyi',12,1,8,3,8],['ZETA_alf',21,11,5,5,52],['RC_Aka',14,3,6,5,21],['RC_shota',22,6,9,7,27],['SZ_MiraiK',12,3,3,6,25],['SZ_SiLia',20,7,7,6,35],['AXIZ_Rose',32,8,10,14,25],['CG_Surume',6,4,1,1,66],['CG_Ryz',27,6,11,10,22],['Dawn_Burio',30,4,16,10,13],['Dawn_Wolf',3,0,1,2,0],['FL_Hasha',17,6,6,5,35],['FL_noNino',14,6,2,6,42] ])
df.columns=['選手名','試合数','勝ち数','分け数','負け数','勝率(%)']
df

            選手名  試合数  勝ち数  分け数  負け数  勝率(%)
0   ZETA_vanpyi   12    1    8    3      8
1      ZETA_alf   21   11    5    5     52
2        RC_Aka   14    3    6    5     21
3      RC_shota   22    6    9    7     27
4     SZ_MiraiK   12    3    3    6     25
5      SZ_SiLia   20    7    7    6     35
6     AXIZ_Rose   32    8   10   14     25
7     CG_Surume    6    4    1    1     66
8        CG_Ryz   27    6   11   10     22
9    Dawn_Burio   30    4   16   10     13
10    Dawn_Wolf    3    0    1    2      0
11     FL_Hasha   17    6    6    5     35
12    FL_noNino   14    6    2    6     42